<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/styles.css">
    <% if(path === '/login' || path === '/register') { %>
        <link rel="stylesheet" href="/css/signin.css">
    <% } %>
    <% if(path === '/404') { %>
        <link rel="stylesheet" href="/css/404.css">
    <% } %>
    <title><%= pageTitle %> </title>
</head>
<body class="rtl"> 
    <%- include('../includes/navbar') %>
    <%- body %>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                امیرحسین دلیری
            </p>
        </div>
    </footer>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>