<div class="container">
    <div class="row">
        <div class="col">
            <%- include('./includes/blogPost.ejs') %>

            <!-- Pagination -->
            <% if(posts.length > 0) {%>
                <%- include('./includes/pagination') %>
            <% }  %>
        </div>
    </div>
</div>
