<div class="container">
    <div class="row">
        <div class="col">
            <%- include('./includes/blogPost.ejs') %>

            <!-- Pagination -->
            <%- include('./includes/pagination') %>
        </div>
    </div>
</div>
