<div style="margin: auto; width: 100%;">
    <form class="form-signin borderStyle" action="/users/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">ورود به بخش مدیریت</h1>
        <%- include("./includes/loginMessages") %>
        <label for="inputEmail" class="sr-only">آدرس ایمیل</label>
        <input
            type="email"
            name="email"
            id="inputEmail"
            class="form-control mb-2"
            placeholder="آدرس ایمیل"
            required
            autofocus
        />
        <label for="inputPassword" class="sr-only">کلمه عبور</label>
        <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            placeholder="کلمه عبور"
            required
        />
        <div class="checkbox mb-3">
            <label>
                <input name="rememberMe" type="checkbox" value="remember-me" /> من را به خاطر بسپار
            </label>
            <a class="mt-2 ml-2" href="/users/forget-password">فراموشی رمز عبور</a>
            <hr>
            <a class="mt-2" href="/users/register">ثبت نام</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
    </form>
</div>
