<div style="margin-top: 180px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>مشکلی از سمت سرور رخ داد، مجددا تلاش نمایید</h1>
                    <h2>خطای 500</h2>
                    <div class="error-details">
                        برای بازگشت به صفحه اصلی کلیک کنید.
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg"
                            ><span class="fa fa-home"></span>بازگشت به صفحه اصلی</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
